.slider-open-tooltip .melis-opentools {
    margin-right: 0.75rem;
}

.is-draggable td:nth-child(1){
    cursor: move;
}

.melis-news-heading {
    padding-bottom: 20px;
}

.melis-news-heading h3 {
    display: inline-block;
}

.melis-news-heading .addSliderData {
    float: right;
}

.dt-rowReorder-float-parent {
    display: inline-block;
    height: 90px !important;
    max-width: 100% !important;
}

.dt-rowReorder-float-parent table.dt-rowReorder-float {
    width: 100%;
    height: 90px;
    table-layout: auto;
}

.dt-rowReorder-float-parent tr,
.dt-rowReorder-float-parent td {
    height: 90px;
}

@media (max-width: 767px) {
    .is-draggable td:nth-child(2){
        cursor: move;
    }

    #sliderDetailsForm .tox-tinymce{
        height: 260px;
    }
}